<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for msg in messages %}
{{ msg }}
{% endfor %}

<form action="" method="post">
    {% csrf_token %}

     <label for="">Username :</label>
    <input type="text" name="username" placeholder="Enter the username">

    <label for="">Password :</label>
    <input type="password" name="password1" placeholder="Confirm password">

    <input type="submit" value="login">
</form>

</body>
</html>